* {
    box-sizing: border-box;
}

body {
    /* background-color: #e1e0e2; */

}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 69px;
    text-align: left;
    color: #3F2AFF;
    margin: 0;
    margin-bottom: 50px;
}

.title2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    color: #3F2AFF;
    margin: 0;
    margin-bottom: 2px;
}


.card-list {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: #333333;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: white;
    vertical-align: top;
    box-shadow: 0px 0px 40px 0px #0000001A;

}

.card img {
    display: block;
    width: 100%;
}

.card-text {
    padding: 25px;
    min-height: 325px;
}

.card-number {
    font-size: 40px;
    line-height: 46px;
    text-align: right;
    color: #EAEAEA;
}

button {
    cursor: pointer;
}

.primary-btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 20.7px;
    text-align: center;
    color: #3F2AFF;
    border: 2px solid #3F2AFF;
    background-color: transparent;
    padding: 25px 76px;
    transition-property: background-color, color, border-color ;
    transition-duration: .3s;
}
.primary-btn:hover {
    background-color: #3F2AFF;
    color: white;
}

.primary-btn:active {
    background-color: #1e128b;
    color: white;
    border-color: #1e128b;
}